@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ONE PIECE';
  src: url('../public/font/OnePieceFont.ttf');

  font-family: 'James Stroker';
  src: url('../public/font/JamesStroker.ttf');

  font-family: 'Montserrat';
  src: url('../public/font/Montserrat.ttf');
}

/* body {
  @apply m-0 p-0 bg-[#F2F4F5] text-[#1E1E1F] font-Montserrat;
} */

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}